<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension id="server" point="org.eclipse.core.runtime.applications">
      <application cardinality="singleton-global" thread="any" visible="true">
         <run class="gnubook.ppcore.ServerApplication"/>
      </application>
   </extension>
</plugin>
