{% extends "base.html" %}
{% block title %}{{ _('Passwort ändern') }}{% endblock %}
{% block header %}{{ _('Passwort ändern') }}{% endblock %}
{% block content %}
<div class="card" style="max-width: 32rem"><div class="card-body">
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="mb-3"><label class="form-label" for="o">{{ _('Bisheriges Passwort') }}</label><input class="form-control" type="password" id="o" name="old" required autocomplete="current-password"></div>
    <div class="mb-3"><label class="form-label" for="n">{{ _('Neues Passwort (min. 10 Zeichen)') }}</label><input class="form-control" type="password" id="n" name="new" required minlength="10" autocomplete="new-password"></div>
    <div class="mb-3"><label class="form-label" for="n2">{{ _('Wiederholen') }}</label><input class="form-control" type="password" id="n2" name="new2" required minlength="10" autocomplete="new-password"></div>
    <button class="btn btn-success" type="submit">{{ _('Ändern') }}</button>
  </form>
</div></div>
{% endblock %}
